# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcuserstate
DerivedData/
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.xcodeproj/project.xcworkspace/xcuserdata/

# SwiftPM
.build/

# Local derived data (we'll use this)
.derivedData/

# Logs
*.log
